In [1]:
import pandas as pd
import requests
from dotenv import load_dotenv
import os

In [2]:
load_dotenv()
API_KEY = os.getenv("API_KEY")

## taking movie data from TMDB API

In [2]:
combined_df = pd.DataFrame()

imageUrl = "https://image.tmdb.org/t/p/original"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer " + API_KEY}

for i in range(1, 54):
    page = str(i)
    url = "https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page="+ page +"&sort_by=popularity.desc"

    response = requests.get(url, headers=headers).json()

    # Create a DataFrame for the current page
    df = pd.DataFrame.from_dict(response['results'])
    df['poster_path'] = imageUrl + df['poster_path'].astype(str)

    # Append the data to the combined DataFrame
    combined_df = pd.concat([combined_df, df], ignore_index=True)

# Save the combined DataFrame to the CSV file
combined_df.to_csv('movieswithposters.csv', encoding='utf-8' ,index=False)

In [3]:
data = pd.read_csv('movieswithposters.csv')
data

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/sRLC052ieEzkQs9dEtPMfFxYkej.jpg,[878],848326,en,Rebel Moon - Part One: A Child of Fire,When a peaceful colony on the edge of the gala...,2458.483,https://image.tmdb.org/t/p/original/ui4DrH1cKk...,2023-12-15,Rebel Moon - Part One: A Child of Fire,False,6.4,694
1,False,/5a4JdoFwll5DRtKMe7JLuGQ9yJm.jpg,"[18, 878, 28]",695721,en,The Hunger Games: The Ballad of Songbirds & Sn...,64 years before he becomes the tyrannical pres...,1870.313,https://image.tmdb.org/t/p/original/mBaXZ95R2O...,2023-11-15,The Hunger Games: The Ballad of Songbirds & Sn...,False,7.2,1155
2,False,/jXJxMcVoEuXzym3vFnjqDW4ifo6.jpg,"[28, 12, 14]",572802,en,Aquaman and the Lost Kingdom,"Black Manta, still driven by the need to aveng...",1900.788,https://image.tmdb.org/t/p/original/8xV47NDrjd...,2023-12-20,Aquaman and the Lost Kingdom,False,6.5,269
3,False,/15Fe18IglCCP1jJoj5F529on0IA.jpg,"[28, 35]",1029575,en,The Family Plan,"Dan Morgan is many things: a devoted husband, ...",1034.103,https://image.tmdb.org/t/p/original/jLLtx3nTRS...,2023-12-14,The Family Plan,False,7.4,438
4,False,/gg4zZoTggZmpAQ32qIrP5dtnkEZ.jpg,"[28, 80]",891699,en,Silent Night,A tormented father witnesses his young son die...,1184.238,https://image.tmdb.org/t/p/original/tlcuhdNMKN...,2023-11-30,Silent Night,False,5.9,171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055,False,/kmzppWh7ljL6K9fXW72bPN3gKwu.jpg,"[28, 35, 14, 80]",1013860,en,R.I.P.D. 2: Rise of the Damned,When Sheriff Roy Pulsipher finds himself in th...,47.835,https://image.tmdb.org/t/p/original/g4yJTzMtOB...,2022-11-15,R.I.P.D. 2: Rise of the Damned,False,6.4,532
1056,False,/tCG6iC6xTY7FfKlWxvbr40EHI9S.jpg,"[16, 12, 35, 10751, 18]",9023,en,Spirit: Stallion of the Cimarron,As a wild stallion travels across the frontier...,56.189,https://image.tmdb.org/t/p/original/cUgYrz4twi...,2002-05-24,Spirit: Stallion of the Cimarron,False,7.7,4307
1057,False,/cIp2F2KnPVnZ9Klw600uRkfLWu9.jpg,"[16, 28, 14]",20982,ja,劇場版 NARUTO -ナルト- 疾風伝,"Demons that once almost destroyed the world, a...",52.538,https://image.tmdb.org/t/p/original/vDkct38sSF...,2007-08-04,Naruto Shippuden the Movie,False,7.4,801
1058,False,/mmd1HnuvAzFc4iuVJcnBrhDNEKr.jpg,"[27, 53]",694,en,The Shining,Jack Torrance accepts a caretaker job at the O...,56.283,https://image.tmdb.org/t/p/original/xazWoLealQ...,1980-05-23,The Shining,False,8.2,16490
1059,False,/ub3BAIzgGnkHqUBtUAf3hpG9xMF.jpg,"[12, 16, 10751]",297270,en,Tinker Bell and the Legend of the NeverBeast,An ancient myth of a massive creature sparks t...,60.284,https://image.tmdb.org/t/p/original/3S0mmmpYSt...,2014-12-12,Tinker Bell and the Legend of the NeverBeast,False,7.3,972

## taking series data from TMDB API

In [4]:
combined_df2 = pd.DataFrame()

for i in range(1, 54):
    page = str(i)
    url = "https://api.themoviedb.org/3/discover/tv?include_adult=false&include_null_first_air_dates=false&language=en-US&page="+ page +"&sort_by=popularity.desc"

    response = requests.get(url, headers=headers).json()

    # Create a DataFrame for the current page
    df = pd.DataFrame.from_dict(response['results'])
    df['poster_path'] = imageUrl + df['poster_path'].astype(str)

    # Append the data to the combined DataFrame
    combined_df2 = pd.concat([combined_df2, df], ignore_index=True)

# Save the combined DataFrame to the CSV file
combined_df2.to_csv('serieswithposters.csv', encoding='utf-8' ,index=False)

In [5]:
data2 = pd.read_csv('serieswithposters.csv')
data2

,backdrop_path,first_air_date,genre_ids,id,name,origin_country,original_language,original_name,overview,popularity,poster_path,vote_average,vote_count
0,/wU1y7snEVYiJBpZ2k1DjIpHgJbx.jpg,1999-01-31,"[16, 35]",1434,Family Guy,['US'],en,Family Guy,"Sick, twisted, politically incorrect and Freak...",4914.899,https://image.tmdb.org/t/p/original/hw2vi8agaJ...,7.3,4013
1,/oOce9hLMVFubjAJliau4kiSNPnW.jpg,1990-09-13,"[80, 18]",549,Law & Order,['US'],en,Law & Order,"In cases ripped from the headlines, police inv...",4710.072,https://image.tmdb.org/t/p/original/77OPlbsvX3...,7.4,491
2,/9xxLWtnFxkpJ2h1uthpvCRK6vta.jpg,1999-09-20,"[80, 18, 9648]",2734,Law & Order: Special Victims Unit,['US'],en,Law & Order: Special Victims Unit,"In the criminal justice system, sexually-based...",4688.598,https://image.tmdb.org/t/p/original/ywBt4WKADd...,8.0,3481
3,/6s3ftX4a1kECPCb1Ewq3GLhVFnn.jpg,2003-09-23,"[80, 18, 10759]",4614,NCIS,['US'],en,NCIS,From murder and espionage to terrorism and sto...,4303.238,https://image.tmdb.org/t/p/original/2exOHePjOT...,7.6,2091
4,/pxeqQX4qFQ0cVxPt5SWZENV5BH3.jpg,1989-12-17,"[10751, 16, 35]",456,The Simpsons,['US'],en,The Simpsons,"Set in Springfield, the average American town,...",3938.035,https://image.tmdb.org/t/p/original/vHqeLzYl3d...,8.0,9319
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055,/xCkQbV5g5KfEg5wGHkbUKVEhfE8.jpg,2001-06-03,[18],1274,Six Feet Under,['US'],en,Six Feet Under,A darkly comic look at members of a dysfunctio...,541.208,https://image.tmdb.org/t/p/original/ztuH5aJIZQ...,8.1,846
1056,/8K5eCD8ArpdHd4lSiu4cq90Cuk4.jpg,2010-10-02,"[16, 35, 18]",36041,Bakuman。,['JP'],ja,バクマン,"Moritaka Mashiro, a high school student, is pe...",695.206,https://image.tmdb.org/t/p/original/iQpZeDx4V1...,8.1,125
1057,/rKxuXBTBSK3pwuFj2TdjJDqtwLB.jpg,2020-02-20,[10767],117006,AEW Unrestricted,['US'],en,AEW Unrestricted,Dig in with the stars and talented team behind...,694.830,https://image.tmdb.org/t/p/original/6vJ4dk4ZjZ...,6.5,2
1058,/6ZYaLOle3iKOHlXqADnxt592v3O.jpg,2012-05-11,"[16, 10751]",61838,Barbie: Life in the Dreamhouse,['US'],en,Barbie: Life in the Dreamhouse,The series is set as a reality TV-esque show f...,628.926,https://image.tmdb.org/t/p/original/c7HIZXKDaD...,7.5,371
1059,/bSTSYwEO75fkA50VriI4NUWj34U.jpg,1999-09-21,[18],638,Once and Again,['US'],en,Once and Again,The series depicts the family of a single moth...,499.412,https://image.tmdb.org/t/p/original/8FVdrgWH2E...,7.2,19

## taking movie genres from TMDB API

In [6]:
url = "https://api.themoviedb.org/3/genre/movie/list?language=en"
response = requests.get(url, headers=headers).json()
df = pd.DataFrame.from_dict(response['genres'])
df.to_csv('movieGenres.csv', encoding='utf-8' ,index=False)

In [7]:
movie_genre = pd.read_csv('movieGenres.csv')
movie_genre

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

## taking series genre from TMDB API

In [8]:
url2 = "https://api.themoviedb.org/3/genre/tv/list?language=en"
response2 = requests.get(url2, headers=headers).json()
df2 = pd.DataFrame.from_dict(response2['genres'])
df2.to_csv('seriesGenres.csv',encoding='utf-8',index=False)

In [9]:
series_genre = pd.read_csv('seriesGenres.csv')
series_genre

       id                name
0   10759  Action & Adventure
1      16           Animation
2      35              Comedy
3      80               Crime
4      99         Documentary
5      18               Drama
6   10751              Family
7   10762                Kids
8    9648             Mystery
9   10763                News
10  10764             Reality
11  10765    Sci-Fi & Fantasy
12  10766                Soap
13  10767                Talk
14  10768      War & Politics
15     37             Western

In [10]:
df.rename(columns={'id':'genre_ids','name':'genre_name'},inplace=True)
df2.rename(columns={'id':'genre_ids','name':'genre_name'},inplace=True)

df.to_csv('movieGenres.csv', index=False)
df2.to_csv('seriesGenres.csv', index=False)