In [1]:
import pandas as pd

In [2]:
series = pd.read_csv('serieswithposters.csv')
series_genre = pd.read_csv('seriesGenres.csv')

In [3]:
series

,backdrop_path,first_air_date,genre_ids,id,name,origin_country,original_language,original_name,overview,popularity,poster_path,vote_average,vote_count,Genre1,Genre2,Genre3,Genre4,Genre5,Genre6,Genre7
0,/wU1y7snEVYiJBpZ2k1DjIpHgJbx.jpg,1999-01-31,"[16, 35]",1434,Family Guy,['US'],en,Family Guy,"Sick, twisted, politically incorrect and Freak...",4914.899,https://image.tmdb.org/t/p/original/hw2vi8agaJ...,7.3,4013,16.0,35.0,NaN,NaN,NaN,NaN,NaN
1,/oOce9hLMVFubjAJliau4kiSNPnW.jpg,1990-09-13,"[80, 18]",549,Law & Order,['US'],en,Law & Order,"In cases ripped from the headlines, police inv...",4710.072,https://image.tmdb.org/t/p/original/77OPlbsvX3...,7.4,491,80.0,18.0,NaN,NaN,NaN,NaN,NaN
2,/9xxLWtnFxkpJ2h1uthpvCRK6vta.jpg,1999-09-20,"[80, 18, 9648]",2734,Law & Order: Special Victims Unit,['US'],en,Law & Order: Special Victims Unit,"In the criminal justice system, sexually-based...",4688.598,https://image.tmdb.org/t/p/original/ywBt4WKADd...,8.0,3481,80.0,18.0,9648.0,NaN,NaN,NaN,NaN
3,/6s3ftX4a1kECPCb1Ewq3GLhVFnn.jpg,2003-09-23,"[80, 18, 10759]",4614,NCIS,['US'],en,NCIS,From murder and espionage to terrorism and sto...,4303.238,https://image.tmdb.org/t/p/original/2exOHePjOT...,7.6,2091,80.0,18.0,10759.0,NaN,NaN,NaN,NaN
4,/pxeqQX4qFQ0cVxPt5SWZENV5BH3.jpg,1989-12-17,"[10751, 16, 35]",456,The Simpsons,['US'],en,The Simpsons,"Set in Springfield, the average American town,...",3938.035,https://image.tmdb.org/t/p/original/vHqeLzYl3d...,8.0,9319,10751.0,16.0,35.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055,/xCkQbV5g5KfEg5wGHkbUKVEhfE8.jpg,2001-06-03,[18],1274,Six Feet Under,['US'],en,Six Feet Under,A darkly comic look at members of a dysfunctio...,541.208,https://image.tmdb.org/t/p/original/ztuH5aJIZQ...,8.1,846,18.0,NaN,NaN,NaN,NaN,NaN,NaN
1056,/8K5eCD8ArpdHd4lSiu4cq90Cuk4.jpg,2010-10-02,"[16, 35, 18]",36041,Bakuman。,['JP'],ja,バクマン,"Moritaka Mashiro, a high school student, is pe...",695.206,https://image.tmdb.org/t/p/original/iQpZeDx4V1...,8.1,125,16.0,35.0,18.0,NaN,NaN,NaN,NaN
1057,/rKxuXBTBSK3pwuFj2TdjJDqtwLB.jpg,2020-02-20,[10767],117006,AEW Unrestricted,['US'],en,AEW Unrestricted,Dig in with the stars and talented team behind...,694.830,https://image.tmdb.org/t/p/original/6vJ4dk4ZjZ...,6.5,2,10767.0,NaN,NaN,NaN,NaN,NaN,NaN
1058,/6ZYaLOle3iKOHlXqADnxt592v3O.jpg,2012-05-11,"[16, 10751]",61838,Barbie: Life in the Dreamhouse,['US'],en,Barbie: Life in the Dreamhouse,The series is set as a reality TV-esque show f...,628.926,https://image.tmdb.org/t/p/original/c7HIZXKDaD...,7.5,371,16.0,10751.0,NaN,NaN,NaN,NaN,NaN
1059,/bSTSYwEO75fkA50VriI4NUWj34U.jpg,1999-09-21,[18],638,Once and Again,['US'],en,Once and Again,The series depicts the family of a single moth...,499.412,https://image.tmdb.org/t/p/original/8FVdrgWH2E...,7.2,19,18.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
series.columns

Index(['backdrop_path', 'first_air_date', 'genre_ids', 'id', 'name',
       'origin_country', 'original_language', 'original_name', 'overview',
       'popularity', 'poster_path', 'vote_average', 'vote_count', 'Genre1',
       'Genre2', 'Genre3', 'Genre4', 'Genre5', 'Genre6', 'Genre7'],
      dtype='object')

backdrop_path,origin_country,original_language,original_name

## vote olanlara bak

In [5]:
series_genre

    genre_ids          genre_name
0       10759  Action & Adventure
1          16           Animation
2          35              Comedy
3          80               Crime
4          99         Documentary
5          18               Drama
6       10751              Family
7       10762                Kids
8        9648             Mystery
9       10763                News
10      10764             Reality
11      10765    Sci-Fi & Fantasy
12      10766                Soap
13      10767                Talk
14      10768      War & Politics
15         37             Western

In [6]:
series

,backdrop_path,first_air_date,genre_ids,id,name,origin_country,original_language,original_name,overview,popularity,poster_path,vote_average,vote_count,Genre1,Genre2,Genre3,Genre4,Genre5,Genre6,Genre7
0,/wU1y7snEVYiJBpZ2k1DjIpHgJbx.jpg,1999-01-31,"[16, 35]",1434,Family Guy,['US'],en,Family Guy,"Sick, twisted, politically incorrect and Freak...",4914.899,https://image.tmdb.org/t/p/original/hw2vi8agaJ...,7.3,4013,16.0,35.0,NaN,NaN,NaN,NaN,NaN
1,/oOce9hLMVFubjAJliau4kiSNPnW.jpg,1990-09-13,"[80, 18]",549,Law & Order,['US'],en,Law & Order,"In cases ripped from the headlines, police inv...",4710.072,https://image.tmdb.org/t/p/original/77OPlbsvX3...,7.4,491,80.0,18.0,NaN,NaN,NaN,NaN,NaN
2,/9xxLWtnFxkpJ2h1uthpvCRK6vta.jpg,1999-09-20,"[80, 18, 9648]",2734,Law & Order: Special Victims Unit,['US'],en,Law & Order: Special Victims Unit,"In the criminal justice system, sexually-based...",4688.598,https://image.tmdb.org/t/p/original/ywBt4WKADd...,8.0,3481,80.0,18.0,9648.0,NaN,NaN,NaN,NaN
3,/6s3ftX4a1kECPCb1Ewq3GLhVFnn.jpg,2003-09-23,"[80, 18, 10759]",4614,NCIS,['US'],en,NCIS,From murder and espionage to terrorism and sto...,4303.238,https://image.tmdb.org/t/p/original/2exOHePjOT...,7.6,2091,80.0,18.0,10759.0,NaN,NaN,NaN,NaN
4,/pxeqQX4qFQ0cVxPt5SWZENV5BH3.jpg,1989-12-17,"[10751, 16, 35]",456,The Simpsons,['US'],en,The Simpsons,"Set in Springfield, the average American town,...",3938.035,https://image.tmdb.org/t/p/original/vHqeLzYl3d...,8.0,9319,10751.0,16.0,35.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055,/xCkQbV5g5KfEg5wGHkbUKVEhfE8.jpg,2001-06-03,[18],1274,Six Feet Under,['US'],en,Six Feet Under,A darkly comic look at members of a dysfunctio...,541.208,https://image.tmdb.org/t/p/original/ztuH5aJIZQ...,8.1,846,18.0,NaN,NaN,NaN,NaN,NaN,NaN
1056,/8K5eCD8ArpdHd4lSiu4cq90Cuk4.jpg,2010-10-02,"[16, 35, 18]",36041,Bakuman。,['JP'],ja,バクマン,"Moritaka Mashiro, a high school student, is pe...",695.206,https://image.tmdb.org/t/p/original/iQpZeDx4V1...,8.1,125,16.0,35.0,18.0,NaN,NaN,NaN,NaN
1057,/rKxuXBTBSK3pwuFj2TdjJDqtwLB.jpg,2020-02-20,[10767],117006,AEW Unrestricted,['US'],en,AEW Unrestricted,Dig in with the stars and talented team behind...,694.830,https://image.tmdb.org/t/p/original/6vJ4dk4ZjZ...,6.5,2,10767.0,NaN,NaN,NaN,NaN,NaN,NaN
1058,/6ZYaLOle3iKOHlXqADnxt592v3O.jpg,2012-05-11,"[16, 10751]",61838,Barbie: Life in the Dreamhouse,['US'],en,Barbie: Life in the Dreamhouse,The series is set as a reality TV-esque show f...,628.926,https://image.tmdb.org/t/p/original/c7HIZXKDaD...,7.5,371,16.0,10751.0,NaN,NaN,NaN,NaN,NaN
1059,/bSTSYwEO75fkA50VriI4NUWj34U.jpg,1999-09-21,[18],638,Once and Again,['US'],en,Once and Again,The series depicts the family of a single moth...,499.412,https://image.tmdb.org/t/p/original/8FVdrgWH2E...,7.2,19,18.0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
series['Genre1'] = pd.to_numeric(series['Genre1'], errors='coerce', downcast='integer')
series['Genre1'] = series['Genre1'].fillna(0).astype('int64')

series['Genre2'] = pd.to_numeric(series['Genre2'], errors='coerce', downcast='integer')
series['Genre2'] = series['Genre2'].fillna(0).astype('int64')

In [8]:
series

,backdrop_path,first_air_date,genre_ids,id,name,origin_country,original_language,original_name,overview,popularity,poster_path,vote_average,vote_count,Genre1,Genre2,Genre3,Genre4,Genre5,Genre6,Genre7
0,/wU1y7snEVYiJBpZ2k1DjIpHgJbx.jpg,1999-01-31,"[16, 35]",1434,Family Guy,['US'],en,Family Guy,"Sick, twisted, politically incorrect and Freak...",4914.899,https://image.tmdb.org/t/p/original/hw2vi8agaJ...,7.3,4013,16,35,NaN,NaN,NaN,NaN,NaN
1,/oOce9hLMVFubjAJliau4kiSNPnW.jpg,1990-09-13,"[80, 18]",549,Law & Order,['US'],en,Law & Order,"In cases ripped from the headlines, police inv...",4710.072,https://image.tmdb.org/t/p/original/77OPlbsvX3...,7.4,491,80,18,NaN,NaN,NaN,NaN,NaN
2,/9xxLWtnFxkpJ2h1uthpvCRK6vta.jpg,1999-09-20,"[80, 18, 9648]",2734,Law & Order: Special Victims Unit,['US'],en,Law & Order: Special Victims Unit,"In the criminal justice system, sexually-based...",4688.598,https://image.tmdb.org/t/p/original/ywBt4WKADd...,8.0,3481,80,18,9648.0,NaN,NaN,NaN,NaN
3,/6s3ftX4a1kECPCb1Ewq3GLhVFnn.jpg,2003-09-23,"[80, 18, 10759]",4614,NCIS,['US'],en,NCIS,From murder and espionage to terrorism and sto...,4303.238,https://image.tmdb.org/t/p/original/2exOHePjOT...,7.6,2091,80,18,10759.0,NaN,NaN,NaN,NaN
4,/pxeqQX4qFQ0cVxPt5SWZENV5BH3.jpg,1989-12-17,"[10751, 16, 35]",456,The Simpsons,['US'],en,The Simpsons,"Set in Springfield, the average American town,...",3938.035,https://image.tmdb.org/t/p/original/vHqeLzYl3d...,8.0,9319,10751,16,35.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1055,/xCkQbV5g5KfEg5wGHkbUKVEhfE8.jpg,2001-06-03,[18],1274,Six Feet Under,['US'],en,Six Feet Under,A darkly comic look at members of a dysfunctio...,541.208,https://image.tmdb.org/t/p/original/ztuH5aJIZQ...,8.1,846,18,0,NaN,NaN,NaN,NaN,NaN
1056,/8K5eCD8ArpdHd4lSiu4cq90Cuk4.jpg,2010-10-02,"[16, 35, 18]",36041,Bakuman。,['JP'],ja,バクマン,"Moritaka Mashiro, a high school student, is pe...",695.206,https://image.tmdb.org/t/p/original/iQpZeDx4V1...,8.1,125,16,35,18.0,NaN,NaN,NaN,NaN
1057,/rKxuXBTBSK3pwuFj2TdjJDqtwLB.jpg,2020-02-20,[10767],117006,AEW Unrestricted,['US'],en,AEW Unrestricted,Dig in with the stars and talented team behind...,694.830,https://image.tmdb.org/t/p/original/6vJ4dk4ZjZ...,6.5,2,10767,0,NaN,NaN,NaN,NaN,NaN
1058,/6ZYaLOle3iKOHlXqADnxt592v3O.jpg,2012-05-11,"[16, 10751]",61838,Barbie: Life in the Dreamhouse,['US'],en,Barbie: Life in the Dreamhouse,The series is set as a reality TV-esque show f...,628.926,https://image.tmdb.org/t/p/original/c7HIZXKDaD...,7.5,371,16,10751,NaN,NaN,NaN,NaN,NaN
1059,/bSTSYwEO75fkA50VriI4NUWj34U.jpg,1999-09-21,[18],638,Once and Again,['US'],en,Once and Again,The series depicts the family of a single moth...,499.412,https://image.tmdb.org/t/p/original/8FVdrgWH2E...,7.2,19,18,0,NaN,NaN,NaN,NaN,NaN

In [9]:
series.columns

Index(['backdrop_path', 'first_air_date', 'genre_ids', 'id', 'name',
       'origin_country', 'original_language', 'original_name', 'overview',
       'popularity', 'poster_path', 'vote_average', 'vote_count', 'Genre1',
       'Genre2', 'Genre3', 'Genre4', 'Genre5', 'Genre6', 'Genre7'],
      dtype='object')

In [10]:
series = series.drop('backdrop_path',axis=1)
series = series.drop('genre_ids',axis=1)
series = series.drop('original_name',axis=1)
series = series.drop('popularity',axis=1)
series = series.drop('vote_count',axis=1)

In [11]:
for i in range(7):
    if(i==0 or i==1):
        continue
    series = series.drop(f'Genre{i+1}',axis=1)

In [12]:
series

,first_air_date,id,name,origin_country,original_language,overview,poster_path,vote_average,Genre1,Genre2
0,1999-01-31,1434,Family Guy,['US'],en,"Sick, twisted, politically incorrect and Freak...",https://image.tmdb.org/t/p/original/hw2vi8agaJ...,7.3,16,35
1,1990-09-13,549,Law & Order,['US'],en,"In cases ripped from the headlines, police inv...",https://image.tmdb.org/t/p/original/77OPlbsvX3...,7.4,80,18
2,1999-09-20,2734,Law & Order: Special Victims Unit,['US'],en,"In the criminal justice system, sexually-based...",https://image.tmdb.org/t/p/original/ywBt4WKADd...,8.0,80,18
3,2003-09-23,4614,NCIS,['US'],en,From murder and espionage to terrorism and sto...,https://image.tmdb.org/t/p/original/2exOHePjOT...,7.6,80,18
4,1989-12-17,456,The Simpsons,['US'],en,"Set in Springfield, the average American town,...",https://image.tmdb.org/t/p/original/vHqeLzYl3d...,8.0,10751,16
...,...,...,...,...,...,...,...,...,...,...
1055,2001-06-03,1274,Six Feet Under,['US'],en,A darkly comic look at members of a dysfunctio...,https://image.tmdb.org/t/p/original/ztuH5aJIZQ...,8.1,18,0
1056,2010-10-02,36041,Bakuman。,['JP'],ja,"Moritaka Mashiro, a high school student, is pe...",https://image.tmdb.org/t/p/original/iQpZeDx4V1...,8.1,16,35
1057,2020-02-20,117006,AEW Unrestricted,['US'],en,Dig in with the stars and talented team behind...,https://image.tmdb.org/t/p/original/6vJ4dk4ZjZ...,6.5,10767,0
1058,2012-05-11,61838,Barbie: Life in the Dreamhouse,['US'],en,The series is set as a reality TV-esque show f...,https://image.tmdb.org/t/p/original/c7HIZXKDaD...,7.5,16,10751
1059,1999-09-21,638,Once and Again,['US'],en,The series depicts the family of a single moth...,https://image.tmdb.org/t/p/original/8FVdrgWH2E...,7.2,18,0

In [13]:
series = series.rename(columns={'Genre1': 'genre_1'})
series = series.rename(columns={'Genre2': 'genre_2'})

In [14]:
series

,first_air_date,id,name,origin_country,original_language,overview,poster_path,vote_average,genre_1,genre_2
0,1999-01-31,1434,Family Guy,['US'],en,"Sick, twisted, politically incorrect and Freak...",https://image.tmdb.org/t/p/original/hw2vi8agaJ...,7.3,16,35
1,1990-09-13,549,Law & Order,['US'],en,"In cases ripped from the headlines, police inv...",https://image.tmdb.org/t/p/original/77OPlbsvX3...,7.4,80,18
2,1999-09-20,2734,Law & Order: Special Victims Unit,['US'],en,"In the criminal justice system, sexually-based...",https://image.tmdb.org/t/p/original/ywBt4WKADd...,8.0,80,18
3,2003-09-23,4614,NCIS,['US'],en,From murder and espionage to terrorism and sto...,https://image.tmdb.org/t/p/original/2exOHePjOT...,7.6,80,18
4,1989-12-17,456,The Simpsons,['US'],en,"Set in Springfield, the average American town,...",https://image.tmdb.org/t/p/original/vHqeLzYl3d...,8.0,10751,16
...,...,...,...,...,...,...,...,...,...,...
1055,2001-06-03,1274,Six Feet Under,['US'],en,A darkly comic look at members of a dysfunctio...,https://image.tmdb.org/t/p/original/ztuH5aJIZQ...,8.1,18,0
1056,2010-10-02,36041,Bakuman。,['JP'],ja,"Moritaka Mashiro, a high school student, is pe...",https://image.tmdb.org/t/p/original/iQpZeDx4V1...,8.1,16,35
1057,2020-02-20,117006,AEW Unrestricted,['US'],en,Dig in with the stars and talented team behind...,https://image.tmdb.org/t/p/original/6vJ4dk4ZjZ...,6.5,10767,0
1058,2012-05-11,61838,Barbie: Life in the Dreamhouse,['US'],en,The series is set as a reality TV-esque show f...,https://image.tmdb.org/t/p/original/c7HIZXKDaD...,7.5,16,10751
1059,1999-09-21,638,Once and Again,['US'],en,The series depicts the family of a single moth...,https://image.tmdb.org/t/p/original/8FVdrgWH2E...,7.2,18,0

In [15]:
series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1060 entries, 0 to 1059
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   first_air_date     1057 non-null   object
 1   id                 1060 non-null   int64
 2   name               1060 non-null   object
 3   origin_country     1060 non-null   object
 4   original_language  1060 non-null   object
 5   overview           1046 non-null   object
 6   poster_path        1060 non-null   object
 7   vote_average       1060 non-null   float64
 8   genre_1            1060 non-null   int64
 9   genre_2            1060 non-null   int64
dtypes: float64(1), int64(3), object(6)
memory usage: 82.9+ KB

In [16]:
series.describe()

                  id  vote_average       genre_1       genre_2
count    1060.000000   1060.000000   1060.000000   1060.000000
mean    32303.179245      7.343396   3425.509434   3083.794340
std     42345.363012      1.063056   4978.231986   4817.513005
min        30.000000      0.000000      0.000000      0.000000
25%      2682.000000      6.900000     18.000000      0.000000
50%     11512.500000      7.500000     35.000000     18.000000
75%     60554.750000      8.000000  10759.000000  10751.000000
max    241013.000000     10.000000  10768.000000  10768.000000

In [17]:
series.nunique()

first_air_date        971
id                   1060
name                 1049
origin_country         50
original_language      17
overview             1046
poster_path          1060
vote_average           57
genre_1                17
genre_2                17
dtype: int64

In [18]:
series = series.drop_duplicates()

In [19]:
series

,first_air_date,id,name,origin_country,original_language,overview,poster_path,vote_average,genre_1,genre_2
0,1999-01-31,1434,Family Guy,['US'],en,"Sick, twisted, politically incorrect and Freak...",https://image.tmdb.org/t/p/original/hw2vi8agaJ...,7.3,16,35
1,1990-09-13,549,Law & Order,['US'],en,"In cases ripped from the headlines, police inv...",https://image.tmdb.org/t/p/original/77OPlbsvX3...,7.4,80,18
2,1999-09-20,2734,Law & Order: Special Victims Unit,['US'],en,"In the criminal justice system, sexually-based...",https://image.tmdb.org/t/p/original/ywBt4WKADd...,8.0,80,18
3,2003-09-23,4614,NCIS,['US'],en,From murder and espionage to terrorism and sto...,https://image.tmdb.org/t/p/original/2exOHePjOT...,7.6,80,18
4,1989-12-17,456,The Simpsons,['US'],en,"Set in Springfield, the average American town,...",https://image.tmdb.org/t/p/original/vHqeLzYl3d...,8.0,10751,16
...,...,...,...,...,...,...,...,...,...,...
1055,2001-06-03,1274,Six Feet Under,['US'],en,A darkly comic look at members of a dysfunctio...,https://image.tmdb.org/t/p/original/ztuH5aJIZQ...,8.1,18,0
1056,2010-10-02,36041,Bakuman。,['JP'],ja,"Moritaka Mashiro, a high school student, is pe...",https://image.tmdb.org/t/p/original/iQpZeDx4V1...,8.1,16,35
1057,2020-02-20,117006,AEW Unrestricted,['US'],en,Dig in with the stars and talented team behind...,https://image.tmdb.org/t/p/original/6vJ4dk4ZjZ...,6.5,10767,0
1058,2012-05-11,61838,Barbie: Life in the Dreamhouse,['US'],en,The series is set as a reality TV-esque show f...,https://image.tmdb.org/t/p/original/c7HIZXKDaD...,7.5,16,10751
1059,1999-09-21,638,Once and Again,['US'],en,The series depicts the family of a single moth...,https://image.tmdb.org/t/p/original/8FVdrgWH2E...,7.2,18,0

In [20]:
series = series.fillna('')

In [21]:
series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1060 entries, 0 to 1059
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   first_air_date     1060 non-null   object
 1   id                 1060 non-null   int64
 2   name               1060 non-null   object
 3   origin_country     1060 non-null   object
 4   original_language  1060 non-null   object
 5   overview           1060 non-null   object
 6   poster_path        1060 non-null   object
 7   vote_average       1060 non-null   float64
 8   genre_1            1060 non-null   int64
 9   genre_2            1060 non-null   int64
dtypes: float64(1), int64(3), object(6)
memory usage: 82.9+ KB

In [22]:
series = series.replace(0,'')
series = series.replace('https://image.tmdb.org/t/p/originalNone','')

In [23]:
for x in series.index:
    if series.loc[x, 'genre_1'] == '' and series.loc[x, 'genre_2'] == '':
        series.drop(x,inplace=True)

In [24]:
series

,first_air_date,id,name,origin_country,original_language,overview,poster_path,vote_average,genre_1,genre_2
0,1999-01-31,1434,Family Guy,['US'],en,"Sick, twisted, politically incorrect and Freak...",https://image.tmdb.org/t/p/original/hw2vi8agaJ...,7.3,16,35
1,1990-09-13,549,Law & Order,['US'],en,"In cases ripped from the headlines, police inv...",https://image.tmdb.org/t/p/original/77OPlbsvX3...,7.4,80,18
2,1999-09-20,2734,Law & Order: Special Victims Unit,['US'],en,"In the criminal justice system, sexually-based...",https://image.tmdb.org/t/p/original/ywBt4WKADd...,8.0,80,18
3,2003-09-23,4614,NCIS,['US'],en,From murder and espionage to terrorism and sto...,https://image.tmdb.org/t/p/original/2exOHePjOT...,7.6,80,18
4,1989-12-17,456,The Simpsons,['US'],en,"Set in Springfield, the average American town,...",https://image.tmdb.org/t/p/original/vHqeLzYl3d...,8.0,10751,16
...,...,...,...,...,...,...,...,...,...,...
1055,2001-06-03,1274,Six Feet Under,['US'],en,A darkly comic look at members of a dysfunctio...,https://image.tmdb.org/t/p/original/ztuH5aJIZQ...,8.1,18,
1056,2010-10-02,36041,Bakuman。,['JP'],ja,"Moritaka Mashiro, a high school student, is pe...",https://image.tmdb.org/t/p/original/iQpZeDx4V1...,8.1,16,35
1057,2020-02-20,117006,AEW Unrestricted,['US'],en,Dig in with the stars and talented team behind...,https://image.tmdb.org/t/p/original/6vJ4dk4ZjZ...,6.5,10767,
1058,2012-05-11,61838,Barbie: Life in the Dreamhouse,['US'],en,The series is set as a reality TV-esque show f...,https://image.tmdb.org/t/p/original/c7HIZXKDaD...,7.5,16,10751
1059,1999-09-21,638,Once and Again,['US'],en,The series depicts the family of a single moth...,https://image.tmdb.org/t/p/original/8FVdrgWH2E...,7.2,18,

In [25]:
for x in series.index:
    if series.loc[x, 'poster_path'] == '':
        series.drop(x,inplace=True)

In [26]:
series.nunique()

first_air_date        969
id                   1057
name                 1046
origin_country         49
original_language      17
overview             1045
poster_path          1057
vote_average           57
genre_1                16
genre_2                17
dtype: int64

In [27]:
series = series[~series.duplicated(subset='name')]

In [28]:
series

,first_air_date,id,name,origin_country,original_language,overview,poster_path,vote_average,genre_1,genre_2
0,1999-01-31,1434,Family Guy,['US'],en,"Sick, twisted, politically incorrect and Freak...",https://image.tmdb.org/t/p/original/hw2vi8agaJ...,7.3,16,35
1,1990-09-13,549,Law & Order,['US'],en,"In cases ripped from the headlines, police inv...",https://image.tmdb.org/t/p/original/77OPlbsvX3...,7.4,80,18
2,1999-09-20,2734,Law & Order: Special Victims Unit,['US'],en,"In the criminal justice system, sexually-based...",https://image.tmdb.org/t/p/original/ywBt4WKADd...,8.0,80,18
3,2003-09-23,4614,NCIS,['US'],en,From murder and espionage to terrorism and sto...,https://image.tmdb.org/t/p/original/2exOHePjOT...,7.6,80,18
4,1989-12-17,456,The Simpsons,['US'],en,"Set in Springfield, the average American town,...",https://image.tmdb.org/t/p/original/vHqeLzYl3d...,8.0,10751,16
...,...,...,...,...,...,...,...,...,...,...
1055,2001-06-03,1274,Six Feet Under,['US'],en,A darkly comic look at members of a dysfunctio...,https://image.tmdb.org/t/p/original/ztuH5aJIZQ...,8.1,18,
1056,2010-10-02,36041,Bakuman。,['JP'],ja,"Moritaka Mashiro, a high school student, is pe...",https://image.tmdb.org/t/p/original/iQpZeDx4V1...,8.1,16,35
1057,2020-02-20,117006,AEW Unrestricted,['US'],en,Dig in with the stars and talented team behind...,https://image.tmdb.org/t/p/original/6vJ4dk4ZjZ...,6.5,10767,
1058,2012-05-11,61838,Barbie: Life in the Dreamhouse,['US'],en,The series is set as a reality TV-esque show f...,https://image.tmdb.org/t/p/original/c7HIZXKDaD...,7.5,16,10751
1059,1999-09-21,638,Once and Again,['US'],en,The series depicts the family of a single moth...,https://image.tmdb.org/t/p/original/8FVdrgWH2E...,7.2,18,

In [29]:
series.nunique()

first_air_date        960
id                   1046
name                 1046
origin_country         49
original_language      17
overview             1034
poster_path          1046
vote_average           57
genre_1                16
genre_2                17
dtype: int64

In [30]:
duplicates = series[series.duplicated(subset='poster_path', keep=False)]
duplicates

Empty DataFrame
Columns: [first_air_date, id, name, origin_country, original_language, overview, poster_path, vote_average, genre_1, genre_2]
Index: []

In [166]:
#series = series[~series.duplicated(subset='poster_path')]

In [31]:
series

,first_air_date,id,name,origin_country,original_language,overview,poster_path,vote_average,genre_1,genre_2
0,1999-01-31,1434,Family Guy,['US'],en,"Sick, twisted, politically incorrect and Freak...",https://image.tmdb.org/t/p/original/hw2vi8agaJ...,7.3,16,35
1,1990-09-13,549,Law & Order,['US'],en,"In cases ripped from the headlines, police inv...",https://image.tmdb.org/t/p/original/77OPlbsvX3...,7.4,80,18
2,1999-09-20,2734,Law & Order: Special Victims Unit,['US'],en,"In the criminal justice system, sexually-based...",https://image.tmdb.org/t/p/original/ywBt4WKADd...,8.0,80,18
3,2003-09-23,4614,NCIS,['US'],en,From murder and espionage to terrorism and sto...,https://image.tmdb.org/t/p/original/2exOHePjOT...,7.6,80,18
4,1989-12-17,456,The Simpsons,['US'],en,"Set in Springfield, the average American town,...",https://image.tmdb.org/t/p/original/vHqeLzYl3d...,8.0,10751,16
...,...,...,...,...,...,...,...,...,...,...
1055,2001-06-03,1274,Six Feet Under,['US'],en,A darkly comic look at members of a dysfunctio...,https://image.tmdb.org/t/p/original/ztuH5aJIZQ...,8.1,18,
1056,2010-10-02,36041,Bakuman。,['JP'],ja,"Moritaka Mashiro, a high school student, is pe...",https://image.tmdb.org/t/p/original/iQpZeDx4V1...,8.1,16,35
1057,2020-02-20,117006,AEW Unrestricted,['US'],en,Dig in with the stars and talented team behind...,https://image.tmdb.org/t/p/original/6vJ4dk4ZjZ...,6.5,10767,
1058,2012-05-11,61838,Barbie: Life in the Dreamhouse,['US'],en,The series is set as a reality TV-esque show f...,https://image.tmdb.org/t/p/original/c7HIZXKDaD...,7.5,16,10751
1059,1999-09-21,638,Once and Again,['US'],en,The series depicts the family of a single moth...,https://image.tmdb.org/t/p/original/8FVdrgWH2E...,7.2,18,

In [32]:
series.nunique()

first_air_date        960
id                   1046
name                 1046
origin_country         49
original_language      17
overview             1034
poster_path          1046
vote_average           57
genre_1                16
genre_2                17
dtype: int64

In [33]:
duplicates = series[series.duplicated(subset='overview', keep=False)]
duplicates

,first_air_date,id,name,origin_country,original_language,overview,poster_path,vote_average,genre_1,genre_2
53,2018-08-27,81329,Chronicles of the Sun,['FR'],fr,,https://image.tmdb.org/t/p/original/t6jVlbPMtZ...,7.5,10766,
74,2021-08-30,132544,Great Minds,['KR'],ko,,https://image.tmdb.org/t/p/original/lj46PSaBzi...,4.6,10767,99
105,2020-11-02,112470,Here it all begins,['FR'],fr,,https://image.tmdb.org/t/p/original/60cqjI590J...,6.8,10766,
119,2023-10-22,235493,De Bondgenoten,['NL'],nl,,https://image.tmdb.org/t/p/original/wsipinibYx...,6.3,10764,
201,2023-11-14,239013,Big Brother Česko & Slovensko,['CZ'],cs,,https://image.tmdb.org/t/p/original/vBSBspslSg...,,10764,
337,1998-09-20,46188,Vivement dimanche,['FR'],fr,,https://image.tmdb.org/t/p/original/nRrrsDkH1k...,2.3,10767,
450,2016-04-23,66465,The Kapil Sharma Show,['IN'],hi,,https://image.tmdb.org/t/p/original/fBPNBNFmcw...,7.5,35,10767
523,1968-09-23,1439,Here's Lucy,['US'],en,,https://image.tmdb.org/t/p/original/bv5p2CZnVg...,7.0,35,
531,2023-10-08,236873,Rigo,['CO'],es,,https://image.tmdb.org/t/p/original/cpNVaiWGuK...,8.6,18,
598,2020-01-20,136166,Lang Leve de Liefde,['NL'],nl,,https://image.tmdb.org/t/p/original/9lpvvzEl5k...,6.0,10764,
684,1995-01-11,6515,Unhappily Ever After,['US'],en,,https://image.tmdb.org/t/p/original/b0UUpXSoSW...,7.1,35,
871,2023-06-18,225553,Gran hermano,['CL'],es,,https://image.tmdb.org/t/p/original/A4MmFM6Nlr...,,10764,
949,2013-01-14,63252,Amar es para siempre,['ES'],es,,https://image.tmdb.org/t/p/original/lwnQn72X1i...,4.7,18,

In [34]:
series.to_csv('serieswithposters.csv',encoding='utf-8',index=False)

In [35]:
series1 = pd.read_csv('serieswithposters.csv')
series1

,first_air_date,id,name,origin_country,original_language,overview,poster_path,vote_average,genre_1,genre_2
0,1999-01-31,1434,Family Guy,['US'],en,"Sick, twisted, politically incorrect and Freak...",https://image.tmdb.org/t/p/original/hw2vi8agaJ...,7.3,16,35.0
1,1990-09-13,549,Law & Order,['US'],en,"In cases ripped from the headlines, police inv...",https://image.tmdb.org/t/p/original/77OPlbsvX3...,7.4,80,18.0
2,1999-09-20,2734,Law & Order: Special Victims Unit,['US'],en,"In the criminal justice system, sexually-based...",https://image.tmdb.org/t/p/original/ywBt4WKADd...,8.0,80,18.0
3,2003-09-23,4614,NCIS,['US'],en,From murder and espionage to terrorism and sto...,https://image.tmdb.org/t/p/original/2exOHePjOT...,7.6,80,18.0
4,1989-12-17,456,The Simpsons,['US'],en,"Set in Springfield, the average American town,...",https://image.tmdb.org/t/p/original/vHqeLzYl3d...,8.0,10751,16.0
...,...,...,...,...,...,...,...,...,...,...
1041,2001-06-03,1274,Six Feet Under,['US'],en,A darkly comic look at members of a dysfunctio...,https://image.tmdb.org/t/p/original/ztuH5aJIZQ...,8.1,18,NaN
1042,2010-10-02,36041,Bakuman。,['JP'],ja,"Moritaka Mashiro, a high school student, is pe...",https://image.tmdb.org/t/p/original/iQpZeDx4V1...,8.1,16,35.0
1043,2020-02-20,117006,AEW Unrestricted,['US'],en,Dig in with the stars and talented team behind...,https://image.tmdb.org/t/p/original/6vJ4dk4ZjZ...,6.5,10767,NaN
1044,2012-05-11,61838,Barbie: Life in the Dreamhouse,['US'],en,The series is set as a reality TV-esque show f...,https://image.tmdb.org/t/p/original/c7HIZXKDaD...,7.5,16,10751.0
1045,1999-09-21,638,Once and Again,['US'],en,The series depicts the family of a single moth...,https://image.tmdb.org/t/p/original/8FVdrgWH2E...,7.2,18,NaN